<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exo Requête Ajax</title>
  
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bootstrap-table/dist/bootstrap-table.css">
  <link rel="stylesheet" href="bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.css">
  <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.css">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>

<div class="container">

  <!-- Dropdown des Tags -->
  <div class="dropdown">

    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      Ajouter un Tag <i class="fas fa-tags"></i>
    </button>

    <div class="dropdown-menu dropdown-menu-tags pb-0" aria-labelledby="dropdownMenuButton">

      <form class="form-inline form-inline-tags">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fas fa-search"></i></div>
          </div>
          <input type="text" class="form-control" id="searchbar" onkeyup="searchTag()" placeholder="Search">
        </div>
      </form>

      <div id="searchTagList" class="d-flex row px-2 m-0">
      </div>

      <div class="mt-1 py-1 text-center border-top create-tag" data-toggle="modal" data-target="#exampleModal">
        <span>Créer un tag <i class="fas fa-plus-circle"></i></span>
      </div>

    </div>

  </div>

  <!-- =========== SEARCHBAR ============ -->
  <form id="formSearchbar" class="my-5">
    <div class="wrapper">
      <div class="search-block position-relative">
        <input class="form-control searchbar" type="text" placeholder="Rechercher un produit / article"> <!-- onkeyup="keyTouch()" -->
        <div class="search-icon position-absolute"><i class="fas fa-search"></i></div>
        <div class="search-reset position-absolute" onclick="resetSearch()"><i class="fas fa-times"></i></div> <!--  -->
        <div class="autocomp-block list-group">
          <!-- here list are inserted from javascript -->
        </div>
      </div>
    </div>
  </form>

  <!-- Modal de création de Tags -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <div class="col-6 pl-0">
            <h5 class="modal-title" id="exampleModalLabel">Création de Tag</h5>
          </div>
          <div class="col-6 pr-0 text-right">
            <button type="button" class="btn btn-primary" id="createTag">Créer le Tag</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>

        <div class="modal-body">
            <div class="form-row">
              <div class="form-goup col-8">
                <label for="newTag">Entrer le nom du Tag:</label>
                <input id="newTag" class="form-control" type="text" autofocus>
              </div>
              <div class="form-goup col-4 text-right">
                <label for="newTagColor">Couleur du Tag:</label>
                <input id="newTagColor" class="form-control w-75 float-right" type="color">
              </div>
            </div>
        </div>

        <div class="modal-footer">
          <div id="modalTagList" class="w-100 row m-0 justify-content-center"></div>
        </div>

      </div>
    </div>
  </div>

  <!-- Table d'affichage de la liste des employés -->
  <table id="table"></table>

  <!-- Modal d'affichage de détails de l'employé -->
  <div class="modal fade" id="detailsEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modifier les informations de l'article</h5>
          <button type="button" class="btn btn-register btn-primary" id="btn-register"><i class="fas fa-check"></i>
          </button>
          <button type="button" class="btn btn-cancel btn-warning" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-4">
                <label for="employee-id">Id</label>
                <input type="text" class="form-control" id="employee-id" placeholder="Id">
              </div>
              <div class="form-group col-8">
                <label for="employee-name">Name</label>
                <input type="text" class="form-control" id="employee-name" placeholder="Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <label for="employee-salary">Salary</label>
                <input type="text" class="form-control" id="employee-salary" placeholder="Salary">
              </div>
              <div class="form-group col-4">
                <label for="employee-age">Age</label>
                <input type="text" class="form-control" id="employee-age" placeholder="Age">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <label for="profile-image">Profile image</label>
                <input type="text" class="form-control" id="profile-image" placeholder="Profile image">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de création d'un employé -->
  <div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Création d'un employé</h5>
          <button type="button" class="btn btn-register btn-primary" id="btn-create">Créer <i class="fas fa-check"></i>
          </button>
          <button type="button" class="btn btn-cancel btn-warning" data-dismiss="modal" aria-label="Close">Fermer <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="crt-employee-name">Name</label>
                <input type="text" class="form-control" id="crt-employee-name" placeholder="Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <label for="crt-employee-salary">Salary</label>
                <input type="text" class="form-control" id="crt-employee-salary" placeholder="Salary">
              </div>
              <div class="form-group col-4">
                <label for="crt-employee-age">Age</label>
                <input type="text" class="form-control" id="crt-employee-age" placeholder="Age">
              </div>
              <div class="form-group col-4">
                <label for="crt-profile-image">Profile image</label>
                <input type="text" class="form-control" id="crt-profile-image" placeholder="Profile image">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="jquery/dist/jquery.js"></script>
<script src="popper.js/dist/umd/popper.js"></script>
<script src="bootstrap/dist/js/bootstrap.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
<script src="bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script src="bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="bootstrap-table/dist/extensions/print/bootstrap-table-print.js"></script>

<script src="scripts/script.js"></script>
<script src="scripts/searchbar.js"></script>
<script src="scripts/tag.js"></script>
</body>
</html>