$input-margin: 0 5%;
$input-width: 90%;

.search-input {
  width: $input-width !important;
  margin: $input-margin;
}

.action {
  display: flex;
}

.action .btn {
  margin: 0 2px;
}

.dropdown-menu-tags {max-width: 20rem;}

.form-inline-tags {padding: 0.5rem 1rem;}

.badge{
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.create-tag:hover {
  background-color: #eee;
  cursor: pointer;
}

/* ======== SEARCHBAR ======== */
.search-icon {
  top: 8px;
  right: 8px;
}

.search-reset {
  right: 8px;
  top: 8px;
  display: none;
}

.searchbar:focus {

    padding: .375rem 30px;

   & + .search-icon {
     left: 10px;
     right: inherit;
   }

  & + .search-icon + .search-reset {
    display: block;
  }

}